.DS_Store
concepts/testdirectory
selenium-codes/.idea/
selenium-codes/html_reports/
selenium-codes/logs/
selenium-codes/test/__pycache__/
selenium-codes/utility/__pycache__/
.idea/
*.pyc
selenium-codes/pages/*.pyc
Pipfile.lock
